*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --hearder-color--: #f5f6f6;
    --active-color--: #03cafc;
    --lite-black--: #666666;
}

body {
    font-family: "Open Sans", sans-serif;
    /* overflow-x: hidden; */
}

main {
    background-color: var(--hearder-color--);
}

main header {
    border-top: 11px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

main header #logo {
    /* margin-left: 40px; */
    padding: 0 15px;
}

main header #logo img {
    max-width: 100%;
}

main header nav {
    position: relative;
    padding: 0 30px;
}

main header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 65px;
    padding: 23px 25px;
    z-index: 2;
}

main header nav ul li {
    padding: 0 15px;
}

main header nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
    transition: 0.5s;
}

.active {
    color: var(--active-color--) !important;
    transition: color 0.3s ease-in;
}

#login {
    background-color: var(--active-color--);
    padding: 8px 30px;
    color: white;
    border-radius: 30px;
    transition: 0.3s;
}

.login-active {
    background-color: black !important;
    color: white !important;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 865px) {
    main header #logo img {
        max-width: 95%;
    }
    main header nav ul {
        padding: 18px 20px;
    }
    main header nav ul li {
        padding: 0 12px;
    }
}

#hamburger {
    display: none;
}

@media screen and (max-width: 825px) {
    #hamburger {
        display: inline-block;
    }
    #hamburger>span {
        background: url(images/menu_icon.png);
        display: inline-block;
        width: 2em;
        height: 1.3em;
    }
    main header nav ul {
        position: absolute;
        margin-top: 30px;
        right: 1rem;
        width: 55vmax;
        background-color: black;
        flex-direction: column;
        border-radius: 0;
        transition: 0.3s;
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    li #login {
        margin-top: 20px;
    }
    .menu-show {
        height: 250px;
        overflow: hidden;
    }
    main header nav ul li:first-child {
        margin-top: 12px;
    }
    main header nav ul li {
        padding: 10px 12px;
        margin-left: 20px;
    }
    main header nav ul li:nth-child(6) {
        margin-top: 30px;
    }
    main header nav ul li a {
        color: white;
    }
}


/* Welcome-page */

#welcome-page {
    position: relative;
    margin-top: 80px;
}

#banner-main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300rem; */
    padding-bottom: 80px;
}

.carousel-item {
    width: 100%;
    flex-basis: 100%;
    perspective: 1000px;
}

#banner-main .container {
    position: relative;
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
    text-align: center;
}

#banner-main .container h1 {
    font-size: 60px;
    line-height: 64px;
    font-weight: 700;
    margin-bottom: 40px;
}

#banner-main .container h1 span {
    color: var(--active-color--);
}

#banner-main .container figure img {
    max-width: 100%;
}

.read-more {
    border: 2px solid black;
    padding: 18px 60px;
    border-radius: 50px;
    display: inline-block;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.read-more:hover {
    color: white;
    background-color: var(--active-color--);
    transition: 0.5s;
}

.inductor span {
    position: absolute;
    top: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 60px;
    border: 2px solid #1a1a1a;
    font-size: 2.4rem;
    border-radius: 50%;
    transition: .5s;
}

.inductor span:first-child {
    left: 20px;
}

.inductor span:last-child {
    right: 20px;
}


/* about section */

#main-about {
    position: relative;
    padding: 100px 0 80px;
    border-bottom: 1px solid black;
}

#main-about section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-about section #about-left figure {
    width: 475px;
}

#main-about section #about-left img {
    max-width: 100%;
}

#main-about section #about-right {
    position: relative;
    z-index: 30;
    margin-left: 40px;
}

#main-about section #about-right section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 600px;
    border: 2px solid black;
    padding: 30px 50px;
    background-color: white;
}

#main-about section #about-right section::before {
    content: " ";
    background: url(images/about_right_cross.jpg);
    position: absolute;
    width: 170px;
    height: 450px;
    z-index: -1;
    right: -40px;
}

#main-about section #about-right section h1 {
    text-transform: capitalize;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 15px;
}

#main-about section #about-right section p {
    font-size: 1.2rem;
    line-height: 2.1;
}

#main-about section #about-right a {
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {
    #main-about section #about-right section {
        width: 495px;
    }
    #main-about section #about-right section::before {
        width: 150px;
        height: 470px;
        right: -20px;
    }
    #main-about section #about-left figure {
        width: 370px;
    }
    #main-about section #about-right section p {
        line-height: 1.8;
    }
}

@media screen and (max-width: 975px) {
    #main-about section #about-right section::before {
        display: none;
    }
}

@media screen and (max-width: 910px) {
    #main-about section #about-right section {
        width: 382px;
        padding: 15px 30px;
    }
    #main-about section #about-left figure {
        width: 280px;
    }
}

@media screen and (max-width: 710px) {
    #main-about section {
        flex-direction: column;
    }
    #main-about section #about-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #main-about section #about-left figure {
        width: 80%;
    }
    #main-about section #about-right {
        margin-top: 20px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #main-about section #about-right a {
        align-self: flex-start;
        margin-left: 12%;
    }
    #main-about section #about-right section {
        width: 75%;
    }
}


/* our glasses */

#our-glasses {
    position: relative;
    padding: 80px 0;
}

#our-glasses section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#our-glasses section header h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}

#our-glasses section header p {
    color: var(--lite-black--);
    font-size: 1.1rem;
    width: 50%;
    max-width: 54rem;
    min-width: 100%;
    line-height: 1.8;
}

#glasses-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

#glasses-container .glasse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 90px 20px 30px 20px;
    margin: 15px;
    height: 390px;
    width: 345px;
}

#glasses-container .glasse figure {
    width: 250px;
    align-self: center;
}

#glasses-container .glasse figure img {
    width: 100%;
}

#glasses-container .glasse .price {
    font-size: 1.6rem;
    margin-top: 70px;
}

#glasses-container .glasse .price span {
    color: var(--active-color--);
    font-size: 1.7rem;
}

#glasses-container .glasse .title {
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-top: 3px;
}

#our-glasses section .footer {
    margin-top: 40px;
}

#loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: hidden !important;
    transition: 0.9s;
    z-index: 9999;
}

#loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.9s;
}

#loader img {
    width: 300px;
    appearance: 1/1;
    transition: 0.9s;
}


/* our-shop-start */

#our-shop {
    position: relative;
}

#our-shop section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#our-shop section #shop-image {
    flex: 1 2 40%;
}

#our-shop section #shop-image figure {
    padding: 0 30px;
    min-width: 355px;
}

#our-shop section #shop-image img {
    width: 100%;
}

#our-shop section #shop-detail {
    background-color: black;
    padding: 80px 40px;
    flex: 1 1 50%;
}

#our-shop section #shop-detail h2 {
    color: white;
    text-transform: capitalize;
    font-size: 2rem;
    margin: 20px 0;
    border-bottom: 1px solid white;
    display: -webkit-inline-box;
    padding-bottom: 10px;
}

#our-shop section #shop-detail p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 4rem;
    margin-top: 10px;
    width: 97%;
}

#our-shop section #shop-detail .read-more {
    color: white;
    border-color: white;
}

@media screen and (max-width: 1200px) {
    #our-shop section #shop-image figure {
        padding: 0 15px;
    }
}


/* our-shop-end */


/* our-clients-start */

#clients {
    position: relative;
    padding: 80px 0;
}

#clients section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#clients section #header {
    margin-top: 40px;
    margin-bottom: 4.5rem;
}

#clients section #header h1 {
    font-size: 2.2rem;
}

#clients section #header p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
}

#clients-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1135px;
    overflow: hidden;
    padding: 0 30px;
}

#clients-wapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 990px;
    margin-left: 88px;
    transition: .5s;
}

.clients-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 50px 55px 40px 70px;
    min-width: 988px;
    margin-right: 10rem;
}

.clients-box .client-img {
    position: absolute;
    top: 0;
    left: -80px;
    transform: translate(0%, 22%);
}

.clients-box .client-img figure img {
    width: 100%;
}

.clients-box .clients-info {
    margin-left: 60px;
}

.clients-box .clients-info h2 {
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 10px;
}

.clients-box .clients-info p {
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 1.4rem;
}

#inductor {
    margin-top: 3rem;
}

.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50px;
    margin-left: 2px;
    transition: .3s;
    cursor: pointer;
}

.circle.active {
    background-color: var(--lite-black--);
}

@media screen and (max-width: 1140px) {
    #clients-container {
        width: 970px;
    }
    #clients-wapper {
        width: 800px;
    }
    .clients-box {
        min-width: 100%;
    }
}

@media screen and (max-width: 970px) {
    #clients-container {
        width: 800px;
        padding: 0 15px;
    }
    #clients-wapper {
        width: 590px;
    }
    .clients-box .clients-info p {
        text-align: left;
    }
}

@media screen and (max-width: 800px) {
    #clients-container {
        width: 660px;
    }
    #clients-wapper {
        width: 473px;
    }
}

@media screen and (max-width: 660px) {
    #clients-container {
        width: 550px;
    }
    #clients-wapper {
        width: 413px;
    }
}

@media screen and (max-width: 600px) {
    #clients-container {
        width: 100%;
    }
    #clients-wapper {
        width: 95%;
        margin: 0;
    }
    .clients-box {
        padding: 50px 20px 40px 20px;
    }
    .clients-box .client-img {
        position: unset;
        flex: 1 5 30%;
        align-self: baseline;
        transform: unset;
    }
    .clients-box .clients-info {
        margin-left: 20px;
        flex: 1 1 40%;
    }
}


/* our-clients-end */


/* contact-us-start */

#contact-us {
    position: relative;
}

#contact-us section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

iframe {
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
}

.form {
    position: absolute;
    z-index: 999;
    top: 15%;
    left: 18%;
    background-color: white;
    padding: 40px 30px;
    width: 343px;
    min-width: 65vmin;
}

.form h1 {
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.form input:not(input[type="button"]) {
    display: block;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-bottom: 1px solid black;
    margin: 30px 0;
    padding: 10px 5px 15px 5px;
    width: 100%;
}

.form>input[type="number"]::-webkit-inner-spin-button,
.form>input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input[type="button"] {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: 12px 0;
    border-radius: 30px;
    background-color: var(--active-color--);
    color: white;
}

@media screen and (max-width: 500px) {
    .form {
        width: 95%;
        left: 10px;
        top: 10px;
        min-width: unset;
    }
}


/* contact-us-end */


/* footer-start */

footer {
    position: relative;
}

footer section {
    background-color: black;
    padding: 30px;
}

footer section ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

footer section ul li {
    list-style: none;
    margin: 15px;
}

footer section ul li i {
    color: white;
    font-size: 1.5rem;
}

footer section ul li span {
    color: white;
    display: block;
    margin-top: 8px;
    font-size: 1.1rem;
}


/* footer-end */