.navbar {
    top: 0 !important;
}

.page-banner {
    display: flex;
    justify-content: center;
    align-items: center;

}

.banners-coninter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .5rem;
    width: 75%;
    height: 320px;
    background-color: #F6F5FC;
    color: #645F88;
    border-radius: 30px;
}

.banner-items ul {
    display: flex;
    flex-wrap: wrap;
}

.banner-items li a {
    font-size: 14px;
    color: #6c55f9;
    text-transform: capitalize;
}

.banner-items li {
    padding: 0;
    color: #8e8aad;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.banner-items h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #645f88;
    text-transform: capitalize;
}

.hearder {
    border: none !important;
}